<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> AJE3D </title>
    <link rel="stylesheet" type="text/css" href="perfil.css">
    <link rel="shortcut icon" href="../img/multiplayer.png" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:900" rel="stylesheet">
    <script src="Javascript/TweenMax.min.js"></script>
</head>
<style>
body {
    background-color: black;
    overflow: hidden;
    font-family: Montserrat, sans-serif;

}
#ranking {
    position: relative;
    margin: auto;
    width: 70%;
    height: 100%;
    background-color: white;
}
#menu {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    right: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50%;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.274);
    z-index: 5;
}
#menu * {
    transition: 0.3s;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
#menu *:hover {
    transition: 0.3s;
    color: white;
    padding: 30px;
    cursor: pointer;
}
    table {
        position: relative;
        width: 100%;  
        font-family: Montserrat, sans-serif;
        font-size: 15px;      
    }
    td, th {
        padding: 20px;
    }
    th {
        text-align: left;
    }
    #particles {
        position: absolute;
        width: 100%;
        height: 1000px;
    }
</style>
<script>
    window.onload = () => {
        let minis = document.querySelectorAll('#menu *');
        minis[0].addEventListener('click', () => self.location='/ranking');
        minis[1].addEventListener('click', () => self.location='/chess');
        minis[2].addEventListener('click', () => self.location='/profile');
        minis[3].addEventListener('click', () => self.location='/logout');
    }
</script>
<body>    
    <div id="particles"></div>
    <script src="../Javascript/particles.js"></script>
    <div id="menu">   
        <div> RANKING </div>   
        <div> LOBBY </div>
        <div> PERFIL</div>
        <div> LOGOUT</div>
    </div>
    <div id="ranking">
        <table>
            <tr>
                <th>Nombre</th>
                <th>ELO</th>
                <th>Victorias</th>
                <th>Derrotas</th>
                <th>Empates</th>
                <th>Partidas</th>
                <th>Tiempo</th>
            </tr>
            <% for(var x of data) {%>
            <tr><td><%= x.nick %></td><td><%= x.elo %></td><td><%= x.victorias %></td><td><%= x.derrotas %></td><td><%= x.empates %></td><td><%= x.games %></td><td><%= x.time %> min</td>  <% } %></tr>
        </table>
    </div>
</body>
</html>